* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
    display: flex;
    gap: 10%;
    align-items: center;
    box-shadow: 0px 0px 10px #ccc;
    position: sticky;
    top: 0px;
}

header .logo {
    width: 10%;
}

.menu {
    width: 80%;
}

.menu>ul {
    display: flex;
}

.menu>ul>li {
    padding: 10px 20px;
    cursor: pointer;
}


.drop{
    width: 1000px;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
    position: absolute;
    top: 80%;
    padding: 20px;
    /* visibility: hidden; */
    display: none;
    transition: 3s;
}

.drop>h2{
    font-size: 16px;
    color: rgb(239, 87, 112);
}

.drop>li{
    line-height: 40px;
}

.drop>li:hover{
    font-weight: 600;
}

.menu>ul>li:first-child:hover .drop{
    display: block;
}