* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.main {
    width: 250px;
    height: 50px;
    border: 1px solid red;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    animation: boxanimation 2s 5s ease-in-out infinite;
}

 
@keyframes boxanimation {

    0% {
       transform: rotate(0deg);
    }


    50%{
        transform: rotate(10deg);
    }


    60%{
          transform: rotate(0deg);
    }


     75%{
        transform: rotate(-10deg);
    }

    90%{
         transform: rotate(0deg);
    }


    100% {
        transform: rotate(0deg);
    }

} 