*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(56, 227, 56);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    animation: circle 2s linear infinite;
}

@keyframes circle{
    from{
        box-shadow: 0px 0px 50px white;
        
    }
    to{
        box-shadow: 0px 0px 10px green;
    }
}