* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    width: 1200px;
    margin: auto;
}

.container h2 {
    padding: 20px 0px;
}

.course-section {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    width: 160px;
    text-align: center;
    position: relative;
}

.student-img {
    width: 140px;
    height: 140px;
    border: 1px solid pink;
    border-radius: 50%;
    overflow: hidden;
    margin: auto
}

.student-img>img {
    width: 100%;
}

.box>span {
    background: red;
    padding: 8px 11px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 113px;
    left: 16%;
}

.box>p {
    padding: 12px 0px;
    color: #a9a8a8;
}