*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary : blue;
}

.main{
    width: 300px;
    height: 150px;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    transform: scale(1);
}

.main:hover{
    transform: scale(1.05);
}
