* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url('https://i.pinimg.com/736x/c2/c2/c9/c2c2c90d65597481c4778e06c97a7c04.jpg') no-repeat center;
    background-size: cover;
}

.main {
    width: 1120px;
    height: 100vh;
    margin: auto;
    position: relative;
}

.sun {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: orange;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px orangered;
}


.merqu {
    width: 250px;
    height: 250px;
    border: 1px dashed white;
    border-radius: 50%;
    position: absolute;
    left: 39%;
    top: 37%;
    animation: solersysystem 8s 10s infinite linear;
}

.plante {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: -1%;
}

.ven {
    width: 350px;
    height: 350px;
    border: 1px dotted white;
    border-radius: 50%;
    position: absolute;
    left: 34%;
    top: 32%;
        animation: solersysystem 10s 15s infinite ease-in-out;
}

.plan {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    top: -1%;
}

.earth {
    width: 450px;
    height: 450px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 30%;
    animation: solersysystem 10s 5s infinite ease-in-out;
}

.erath-1 {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    top: -1%;
}

@keyframes solersysystem {
    from {
        transform: rotate(360deg);
      
    }

    to {
        transform: rotate(0deg);
    }
}