*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


.main{
    width: 150px;
    height: 150px;
    border: 1px solid red;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.img-rot{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid red;
    transition: 1s;
}

.img-rot>img{
    width: 100%;
}


.img-rot:hover{
    transform: rotate(360deg);
    cursor: pointer;
}